<header>
   <nav class="relative">
       <div class="flex space-x-4">
           <a 
               href="#" 
               aria-current="page" 
               class="rounded-md bg-gray-950/50 px-3 py-2 text-sm font-medium text-white">
               Home
           </a>
       </div>
   </nav>
</header>

@code {

}
